.App {
  text-align: center;
}

.box {
  display: flex;
}

.link {
  width: 200px;
  height: 200px;
  border: 2px solid blue;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  margin: 20px
}

.product {
  width: 400px;
  height: 400px;
  border: 2px solid blue;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  margin: 20px
}

.App-logo {
  height: 40vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  display: flex;
}

nav {
  background-color: cadetblue;
  width: 20%;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: darkslateblue;
  height: 19vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}